
body {
    background: #e2e1e0;
}
.heading{
    display: block;
    width: calc(100% - 20%);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 30px;
}

.heading-text{
    margin:0px;
    font-size: 2.5rem;
    /*font-weight: normal;*/
    font-family: 'Poiret One';
}

.subtext{
    display: block;
    width: calc(100% - 20%);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 30px;
}

.subtext-text{
    font-size: 1.20rem;
    font-family: 'Raleway';
    margin:0px;
}

/*Media Queries*/


@media only screen and (min-width: 799px) and (max-width: 960px) {
    body {

        background-color: lightblue;
    }
    .numbers {
        width: calc(100% - 10%);
        margin-left: 5%;
        margin-right: 5%;
    }

    html{
        font-size: 15px;
    }
}







/*@media only screen and (min-width: 1600px) {
    body {
        background-color: cyan;
    }
    html{
        font-size: 23px;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
    body {
        background-color: lightblue;
    }
    html{
        font-size: 20px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
    body {

        background-color: lightblue;
    }
    html{
        font-size: 14px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
    body {

        background-color: cyan;
    }
    html{
        font-size: 12px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
    body {

        background-color: Blue;
    }
    html{
        font-size: 10px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
    body {

        background-color: darkBlue;
    }
    html{
        font-size: 7px;
    }
}

@media only screen and (max-width: 399px) {
    body {

        background-color: purple;
    }
    html{
        font-size: 5px;
    }
}*/
